extend layout

block content

  //- 游戏失败
  #game-fail
    //- 双按钮
    .btn-2r
      a(href="index.html")
        img(src="../img/button/0.png")
      a(href="http://www.alltosun.com")
        img(src="../img/button/1.png")
