extend layout

block content

  //- 提交成功
  #post-succ
    //- 双按钮
    .btn-2r
      a#btn-share(href="javascript:void(0)")
        img(src="../img/button/3.png")
      a(href="http://www.alltosun.com")
        img(src="../img/button/1.png")
    
    //- 分享浮层
    #pop-share.none
